body {
  font-size: 1.125rem;
  margin: 0 auto;
  background-color: #FFF;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}

h1{
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

img {
  margin: 0 auto;
  display: block;
  padding: 0;
  width: 100%;
}