body {
  font-size: 1.125rem;
  margin: 0 auto;
  background-color: #FFF;
  color: #707070;
}

/*
*   Layout
*/
.container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}

.columns {
  display: flex;
  margin: 1em 0;
}

.col-bg {
  background-color: #312614;
  padding: 1em;
}

h1{
  font-size: 3rem;
  text-align: center;
  color: #312614;
}

h1 span {
  color: #B7832F;
}

h2 {
  font-size: 1.5rem;
}

img {
  margin: 0 auto;
  display: block;
  padding: 0;
  width: 100%;
}

