body {
  font-size: 1.125rem;
  margin: 0 auto;
  background-color: #FFF;
  color: #707070;
}

/*
*   Layout
*/

.container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}

.columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1em 0;
}

.col-bg {
  background-color: #312614;
  color: #FFF;
  padding: 1em;
}

img {
  margin: 0 auto;
  display: block;
  padding: 0;
  width: 100%;
}

.col-1 {
  width: 20%;
}

.col-2 {
  width: 45%;
}

.col-3 {
  width: 70%;
}

/*
*   Typography
*/

h1{
  font-size: 3rem;
  text-align: center;
  color: #312614;
}

h1 span {
  color: #B7832F;
}

h2 {
  font-size: 1.5rem;
}

p {
  margin-top: 0;
}